<p id="notice"><%= notice %></p>


<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Area Code:</strong>
  <%= @user.area_code %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @user.phonenumber %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br>
<%= link_to 'See Posts', posts_path %>
